/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('./bootstrap.grid.css');
@import url('https://fonts.googleapis.com/css?family=Lato');

*{font-family: 'Lato', sans-serif};

body{
  margin: 0;
}

/* TEXT STYLES */
.text-center{
  text-align: center !important;
}
.text-right{
  text-align: right !important;
}
.text-uppercase{
  text-transform: uppercase;
}
.text-capitalize{
  text-transform: capitalize;
}
.text-white{
  color: #fff !important;
}
.text-blue{
  color: #0AF !important;
}
.text-red{
  color: red !important;
}
.text-white-shadowed{
  color: #fff;
  text-shadow: 0 1px 20px #fff;
}
.text-ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Image styles */
.center{
  display: block;
  margin: 0 auto;
}
div[mat-avatar]{
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

/* Backgrounds Section */
.login-bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(293deg,#0AF 0,#2cab80 120%);
}
.login-black-shadow::after{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.65);
}

/* Layout */
.float-right{
  float: right;
}
.clearfix{
  clear: both;
}
.full-width{
  width: 100%;
}
.fill-space{
  flex: 1 1 auto;
}
.padding{
  padding: 15px;
}
.margin{
  margin: 15px;
}
.margin-right{
  margin-right: 15px;
}
.no-margin{
  margin: 0 !important;
}

/* buttons */
.btn-full-width{
  width: 100%;
}

/* cursor */
.cursor-pointer{
    cursor: pointer;
}

.mat-card-header-text{
  margin: 0 !important;
}

.mat-fab-fixed-bottom-right{
  position: fixed !important;
  bottom: 15px;
  right: 15px;
}
